.education-container {
    width: 85%;
    margin: 0 auto;
}

.education-header {
    font-weight: normal;
    margin-bottom: 0;
    font-size: 1.5em;
    color: #3d3d3d;
    font-family: "Lato", sans-serif;    
}

.schools-container {
    padding-left: 20px;
    box-sizing: border-box;
}

.education-container .school-container:first-child .rem-school-container {
    display: none;
}