.user-info-container {
    padding-top: 20px;
    width: 85%;
    margin: 0 auto;
}

.user-full-name input, .user-contact-details input{
    border: none;
}

.user-name input, .user-last-name input {
    font-size: 2.4em;
    font-family: 'Lato', sans-serif;
    color: cadetblue;
}

.user-last-name input {
    margin-left: 15px;
}

.user-contact-details {
    padding-left: 20px;
    box-sizing: border-box;
}

.user-home-address input, .user-phone-number input, .user-email-address input {
    color: #4b4b4b;    
}

.user-home-address  input {
    background: url(../../images/icons/home-icon.png) no-repeat scroll 7px 0px;
    background-size: 15px;    
    padding-left:30px;
    margin-bottom: 5px;
}

.user-phone-number input {
    background: url(../../images/icons/phone-icon.png) no-repeat scroll 7px 0px;
    background-size: 13px;    
    padding-left:30px;
}

.user-email-address input {
    background: url(../../images/icons/email-icon.png) no-repeat scroll 7px 0px;
    background-size: 13px;    
    padding-left:30px;
    margin-left: 10px;
}    