.user-info-container {
    padding-top: 20px;
    width: 85%;
    margin: 0 auto;
}

.user-full-name, .position-container {
    text-align: left;
}

.user-full-name input, .user-contact-details input{
    border: none;
}

.user-name input, .user-last-name input {
    font-size: 3.4em;
    font-family: 'Lato', sans-serif;
    color: #64a6b5;
}

.user-last-name input {
    margin-left: 15px;
}

.user-contact-details {
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 1.2em;
}

.user_position {
    margin-bottom: 20px;
    font-size: 1.45em;
}

.profile-container {
    width: 85%;
    margin: 0 auto;
}

.user_profile {
    width: 85%;
    margin: 0 auto;
    margin-top: 10px;
}

.user-home-address input, .user-phone-number input, .user-email-address input {
    color: #4b4b4b;    
    
}

.user-home-address  input {
    background: url(../../images/icons/home-icon.png) no-repeat scroll 7px 0px;
    background-size: 15px;    
    background-position: 8px 2px;
    padding-left:30px;
    margin-bottom: 5px;
}

.user-phone-number input {
    background: url(../../images/icons/phone-icon.png) no-repeat scroll 7px 0px;
    background-size: 13px;    
    background-position: 8px 2px;
    padding-left:30px;
}

.user-email-address input {
    background: url(../../images/icons/email-icon.png) no-repeat scroll 7px 0px;
    background-size: 13px;    
    background-position: 8px 2px;
    padding-left:30px;
    margin-left: 10px;
}    

