.job-container {
    margin-bottom: 10px;
    font-size: 1.2em;
    
}

.job-container input{
    color: #4b4b4b;        
}

.job-title input{
    font-weight: normal;
}

.job-date {
    float: right;
}

.job-location {
    margin-left: 20px;
}

.job-description {
    width: 100%;
}

.rem-job-container {
    display: block;
    margin-left: -18px;
    margin-bottom: -16px;
}

.rem-job-icon {
    width: 17px;
    cursor: pointer;
}