.work-experience-container {
    width: 85%;
    margin: 0 auto;
}

.work-experience-header {
    font-weight: normal;
    margin-bottom: 0;
    font-size: 1.5em;
    color: #3d3d3d;
    font-family: "Lato", sans-serif;
}

.jobs-container {
    padding-left: 20px;
    box-sizing: border-box;
}

.work-experience-container .job-container:first-child .rem-job-container {
    display: none;
}