.resume-slider-container {
    top: 104px;
    position: absolute;
    max-width: 100%;
    padding: 45px 0;
    padding-top: 5px;
    background: white;
    box-shadow: 0px 1px 5px 2px #8c8c8c9e;
}

.slider-text {
    text-align: center;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #414141;
    font-weight: normal;
    margin-bottom: 48px;    
    font-size: 1.7em;
}

.slider-scroll-container {
    height: 435px;
    width: 100%;    
    overflow: hidden;
}

.slider-scroll {
    overflow: hidden;
    overflow-x: scroll;
}

.slider {
    width: 2000px;
    display: flex;
    padding-top: 4px;    
}

.pictures-container {
    max-height: 330px;
}

.picture-container {
    display: inline-block;
    margin: 0 35px;
}

.close-icon-container {
    margin-bottom: -14px;
    margin-left: 14px;    
}

.close-icon-item {
    width: 42px;
}

.picture-item {
    height: 330px;
    border: 1px solid rgb(214, 214, 214);
    padding: 19px;
    border-radius: 27px;
    box-sizing: border-box;
}

.picture-item:hover {
    transform: scale(1.025);
}