.resume-slider-container {
    top: 200px;
    position: absolute;
    max-width: 100%;
    padding: 45px 0;
    background: white;
    box-shadow: 0px 7px 33px 2px #b7b7b7;
}

.slider-text {
    text-align: center;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #414141;
    font-weight: normal;
    margin-bottom: 48px;    
}

.slider-scroll-container {
    height: 550px;
    width: 100%;    
    overflow: hidden;
}

.slider-scroll {
    overflow: hidden;
    overflow-x: scroll;
}

.slider {
    width: 2000px;
    display: flex;
}

.pictures-container {
    max-height: 441px;
}

.picture-container {
    display: inline-block;
    margin: 0 35px;
}

.picture-item {
    height: 441px;
    border: 2px solid rgb(104, 104, 104);
    padding: 19px;
    border-radius: 27px;
    box-sizing: border-box;
}

.picture-item:hover {

}