.schools-container {
    width: 100%;
    margin: 0 auto;
    color: #4b4b4b;
}

.add-school-btn-container {
    text-align: right;
    margin-bottom: 40px;
}

.add-school-btn {
    width: 20px;
    cursor: pointer;
}