@media (max-width: 880px){
    
    /* .user-info-container, .work-experience-container, .education-container {
        display: none;
    } */

    .prev-next-btn {
        display: block;
    }

    .show {
        display: block!important;
    }

    .hide {
        display: none!important;
    }
    .resume-info {
        min-height: 0cm;
        width: 95%;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .section-bar {
        display: none;
    }

    .download-pdf-btn-container {
        margin-top: 65px;
        display: none;
    }

    .bottom-space {
        display: block;
    }

    /* H E A D E R */
    .header-container {
        width: 100%;
    }

    .nav-bar-icon{
        display: block;
        position: absolute;
        right: 30px;
        top: 40px;
    }

    .nav-bar-icon-item {
        max-width: 30px;
    }

    .nav-bar {
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        background: white;
        position: absolute;
        left: 0;
        right: 0;
        /* box-shadow: 0 3px 18px rgb(255, 240, 207); */
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 30px 0;
        min-height: 80%;
        margin-top: 20px;        
    }
    
    .nav-bar-list {
        width: 350px;
        max-width: 100%;
        margin: 0 auto;
    }

    .nav-bar-list-item {
        display: block;
        background: white;
        text-align: left;
        margin-bottom: 55px;
        font-family: "Raleway", sans-serif;
        font-size: 1.45em;
        font-weight: bold;
    }

    .nav-bar-list-item:last-child {
        margin-bottom: 0;
    }

    /* U S E R   I N F O */
    .user-info-container {
        padding-bottom: 20px;
    }

    .user-full-name {
        margin-bottom: 10px;
    }

    .user-name , .user-last-name {
        display: block!important;
    }

    .user-name input, .user-last-name input {
        margin: 0;
    }

    .user-contact-details {
        padding: 0;
    }

    .user-contact-details div {
        display: block!important;
        margin-bottom: 10px;
    }

    .user-contact-details div input{
        margin: 0;
        font-size: 1em;
        background-size: 19px;
        padding-left: 35px;        
    }        

    br {
        display: none;
    }
    /* ===================== */

    /* Work Experience */

    .work-experience-container {
    }

    .work-experience-header {
        text-align: center;
        margin-bottom: 30px;
        font-size: 2.3em;
    }

    .rem-job-icon {
        width: 15px;        
    }

    .jobs-container {
        padding: 0;        
    }

    .job-container {
        margin-bottom: 25px;
    }

    .job-container div {
        display: block!important;
        float: none;
        margin: 0;
        margin-bottom: 10px; 
    }

    .job-container div input {
        font-size: 1.15em;
    }

    .job-description {
        font-size: 1.15em;
    }
        
    .rem-job-container {
        float: right!important;
    }

    /* ======================= */
    /* EDUCATION */

    .education-container {
    }

    .education-header {
        font-size: 2.3em;
        text-align: center;
        margin-bottom: 30px;
    }

    .rem-school-container {
        float: right!important;
    }

    .rem-school-icon {
        width: 15px;
    }

    .schools-container {
        padding: 0; 
    }

    .school-container {
        margin-bottom: 25px;
    }

    .school-container div {
        display: block!important;
        float: none;
        margin: 0;
        margin-bottom: 10px;         
    }

    .school-container div input{
        margin: 0;
        font-size: 1.15em;        
    }        


    /* A N I M A T I O N S */

.fadein, .fadeout {
    opacity: 0;
    -moz-transition: opacity 0.44s ease-in-out;
    -o-transition: opacity 0.44s ease-in-out;
    -webkit-transition: opacity 0.44s ease-in-out;
    transition: opacity 0.44s ease-in-out;
  }
  .fadein {
    opacity: 1;
  }
  
  .slideDown{
      animation-name: slideDown;
      -webkit-animation-name: slideDown;	
  
      animation-duration: 1.5s;	
      -webkit-animation-duration: 1.5s;
  
      animation-timing-function: ease;	
      -webkit-animation-timing-function: ease;	
  
      visibility: visible !important;						
  }
  
  @keyframes slideDown {
      0% {
          transform: translateY(-100%);
      }
      100% {
          transform: translateY(0%);
      }		
  }

}
