@media (max-width: 880px){
    /* .user-info-container, .work-experience-container, .education-container {
        display: none;
    } */
    .user-info-container div{
        text-align: left;
    }

    .user-info-container {
        width: 95%;        
    }

    .prev-next-btn {
        margin-top: 10px;
        display: flex
    }

    .show {
        display: block!important;
    }

    .hide {
        display: none!important;
    }
    .resume-info {
        min-height: 0cm;
        width: 95%;
        margin-top: 10px;        
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .section-bar {
        display: none;
    }

    .download-pdf-btn-container {
        margin-top: 65px;
        display: none;
    }

    .bottom-space {
        display: block;
    }

    /* H E A D E R */
    .header-container {
        width: 100%;
    }

    .nav-bar-icon{
        display: block;
        position: absolute;
        right: 30px;
        top: 40px;
    }

    .nav-bar-icon-item {
        max-width: 30px;
    }

    .nav-bar {
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        background: white;
        position: absolute;
        left: 0;
        right: 0;
        /* box-shadow: 0 3px 18px rgb(255, 240, 207); */
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 30px 0;
        min-height: 80%;
        margin-top: 20px;        
    }
    
    .nav-bar-list {
        width: 350px;
        max-width: 100%;
        margin: 0 auto;
    }

    .nav-bar-list-item {
        display: block;
        background: white;
        text-align: left;
        margin-bottom: 55px;
        font-family: "Raleway", sans-serif;
        font-size: 1.45em;
        font-weight: bold;
    }

    .nav-bar-list-item:last-child {
        margin-bottom: 0;
    }

    /* U S E R   I N F O */
    .user-info-container div {
        overflow: hidden;
    }

    .user-full-name {
        margin-bottom: 10px;
    }

    .user-name , .user-last-name, .user_position, .user_profile {
        display: block!important;
        border: 2px solid #f1f1f1;
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 15px;
        color: #4b4b4b;
        box-sizing: border-box;
    }

    .user-contact-details div {
        display: block!important;
        border: 2px solid #f1f1f1;
        border-radius: 10px;
        margin-bottom: 10px;
        font-size: 1.4em;        
        padding: 6px;
        box-sizing: border-box;
    }

    .user-name input, .user-last-name input {
        margin: 0;
        font-size: 1.5em;        
    }

    .user_position, .user_profile {
        width: 100%;
        font-size: 1.4em;
    }
    .profile-container {
        width: 100%;
    }        
    .user_profile {
        margin-bottom: 30px;        
    }

    .user-contact-details {
        padding: 0;
        font-size: 1em; 
    }

    .user-contact-details div input{
        margin: 0;
        font-size: 1em;
        background-size: 17px;
        padding-left: 35px;     
        padding-bottom:15px;
        padding-top: 15px;
        background-position: 8px 15px;
    }        

    br {
        display: none;
    }
    /* ===================== */

    /* Work Experience */

    .work-experience-container {
        width: 95%;        
    }

    .work-experience-header {
        text-align: center;
        margin-bottom: 30px;
        font-size: 2.3em;
    }

    .rem-job-icon {
        width: 25px;
    }

    .jobs-container {
        padding: 0;        
    }

    .job-container {
        margin-bottom: 25px;
        font-size: 1em;
    }

    .job-container div {
        display: block!important;
        float: none;
        margin: 0;
        margin-bottom: 10px; 
        border: 2px solid #f1f1f1;
        margin-bottom: 10px;
        font-size: 1.2em;
        border-radius: 0;
        padding: 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .job-container div input {
        font-size: 1.15em;
    }

    .job-description {
        font-size: 1.15em;
        border: 2px solid #f1f1f1;
        margin-bottom: 10px;
        font-size: 1.4em;
        border-radius: 0;
        padding: 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .rem-job-container {
        border: none!important;
        float: none;
        margin-left: 2px!important;    
    }

    .job-container:first-child .rem-job-container {
        display: none!important;
    }

    .add-job-btn-container {
        float: none!important;     
        margin-right: 20px;        
        text-align: right;
    }

    .add-job-btn{
        width: 25px;
    }

    /* ======================= */
    /* EDUCATION */

    .education-container {
        width: 95%;
    }

    .education-header {
        font-size: 2.3em;
        text-align: center;
        margin-bottom: 30px;
    }

    .school-container:first-child .rem-school-container {
        display: none!important;
    }

    .rem-school-container {
        border: none!important;
        float: none;
        margin-left: 2px!important;      
    }

    .rem-school-icon {
        width: 25px;
    }

    .schools-container {
        padding: 0; 
    }

    .school-container {
        margin-bottom: 25px;
        font-size: 1em;
    }

    .school-container div {
        display: block!important;
        float: none;
        margin: 0;
        margin-bottom: 10px;      
        display: block!important;
        float: none;
        margin: 0;
        margin-bottom: 10px; 
        border: 2px solid #f1f1f1;
        margin-bottom: 10px;
        font-size: 1.2em;
        border-radius: 0;
        padding: 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;   
    }

    .school-container div input{
        margin: 0;
        font-size: 1.15em;        
    }        

    .add-school-btn-container {
        float: none!important;
        text-align: right;
        margin-bottom: 0;
        margin-right: 20px;        
    }

    .add-school-btn {
        width: 25px;
        cursor: pointer;
    }


    /* A N I M A T I O N S */
.fadein, .fadeout {
    opacity: 0;
    -moz-transition: opacity 0.44s ease-in-out;
    -o-transition: opacity 0.44s ease-in-out;
    -webkit-transition: opacity 0.44s ease-in-out;
    transition: opacity 0.44s ease-in-out;
  }
  .fadein {
    opacity: 1;
  }
  
  .slideDown{
      animation-name: slideDown;
      -webkit-animation-name: slideDown;	
  
      animation-duration: 1.5s;	
      -webkit-animation-duration: 1.5s;
  
      animation-timing-function: ease;	
      -webkit-animation-timing-function: ease;	
  
      visibility: visible !important;						
  }
  
  @keyframes slideDown {
      0% {
          transform: translateY(-100%);
      }
      100% {
          transform: translateY(0%);
      }		
  }

}
