.resume-info {
    background: white;  
    width: 21cm;
    min-height: 29.7cm;
    height: auto;
    box-shadow: 7px 12px 28px rgba(160, 160, 160, 0.54);
    margin: 0 auto;
    overflow: hidden;
}

.prev-next-btn {
    display: none;
    text-align: center;
}

.prev-next-btn button {
    text-transform: uppercase;
    padding: 15px;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    background: white;
    font-family: "Raleway", sans-serif;
    margin: 0 auto;
}

.prev-next-btn a {
    margin: 0 auto;
}

.prev-btn {
    color: rgb(38, 136, 205);
}

.next-btn {
    color: rgb(35, 178, 133);
}

.download-pdf-btn-container {
    text-align: center
}

.download-pdf-btn {
    text-transform: uppercase;
    padding: 10px;
    background: white;
    font-weight: bold;
    color: cadetblue;
    border: 2px solid cadetblue;
    cursor: pointer;
    border-radius: 4px;
}

.download-pdf-btn a {
    text-decoration: none;
}

.download-pdf-btn a:visited {
    color: inherit;
}

.download-pdf-btn:hover {
    background: cadetblue;
    color: white;
        
}
