.resume-info {
    width: 21cm;
    min-height: 29.7cm;
    height: auto;
    box-shadow: 0 0 1.425cm rgb(227, 245, 247);
    margin: 0 auto;
}

.prev-next-btn {
    text-align: center;
}

.download-pdf-btn-container {
    text-align: center
}

.download-pdf-btn {
    text-transform: uppercase;
    padding: 10px;
    background: white;
    font-weight: bold;
    color: cadetblue;
    border: 2px solid cadetblue;
    cursor: pointer;
    border-radius: 4px;
}

.download-pdf-btn:hover {
    background: cadetblue;
    color: white;
        
}
