.resume-info {
    background: white;  
    width: 21cm;
    min-height: 29.7cm;
    height: auto;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.54);
    margin: 0 auto;
    overflow: hidden;
}

.prev-next-btn {
    display: none;
    text-align: center;
}

.prev-next-btn button {
    text-transform: uppercase;
    padding: 15px;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    background: white;
    font-family: "Raleway", sans-serif;
    margin: 0 auto;
}

.prev-next-btn a {
    margin: 0 auto;
}

.prev-btn {
    color: rgb(38, 136, 205);
}

.next-btn {
    color: rgb(93, 161, 77);
}

.download-pdf-btn-container {
    text-align: center
}

.download-pdf-btn {
    text-transform: uppercase;
    padding: 10px;
    background: white;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #65bc6f;
    border: 2px solid #65bc6f;
    cursor: pointer;
    letter-spacing: 3px;
    border-radius: 5px;    
}

.download-pdf-btn a {
    text-decoration: none;
}

.download-pdf-btn a:visited {
    color: inherit;
}

.download-pdf-btn:hover {
    background: #65bc6f;
    color: white;
        
}
