@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');


.blog-container {
    width: 900px;
    max-width: 92%;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(221, 221, 221, 0.89);
    -moz-box-shadow: 0px 1px 5px 1px rgba(221, 221, 221, 0.89);
    box-shadow: 0px 1px 5px 1px rgba(221, 221, 221, 0.89);    
    margin: 0 auto;    
    margin-top: 30px;
    padding: 40px;
    box-sizing: border-box;
}

.blog-header {
    font-family: "Raleway", sans-serif;
    color: indianred;
    text-align: center;
    font-size: 3em;
}

.blog-content-header {
    font-family: "Lato", sans-serif;
    font-size: 1.2em;

}

.blog-paragraph-text {
    font-family: 'Zilla Slab', serif;
    font-size: 1.2em
}