.school-container {
    margin-bottom: 10px;
}

.school-container input {
    color: #4b4b4b;            
}

.school-title input{
    font-weight: bold;
}

.school-date {
    float: right;
}

.school-location input{
    margin-left: 20px;
}

.rem-school-container {
    display: inline;
    margin-left: 10px;
}

.rem-school-icon {
    width: 10px;
    cursor: pointer;
}