.school-container {
    margin-bottom: 10px;
    font-size: 1.2em;    
}

.school-container input {
    color: #4b4b4b;            
}

.school-title input{
    font-weight: bold;
}

.school-date {
    float: right;
}

.school-location input{
    margin-left: 20px;
}

.school-container:first-child .rem-school-container {
    display: none;
}

.rem-school-container {
    display: block;
    margin-left: -18px;
    margin-bottom: -16px;
}

.rem-school-icon {
    width: 10px;
    cursor: pointer;
}