.school-date {
    float: right;
}

.school-location input{
    margin-left: 20px;
}

.rem-school-container {
    display: inline;
    margin-left: 10px;
}

.rem-school-icon {
    width: 10px;
    cursor: pointer;
}