.main-header {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-container {
    width: 85%;
    margin: 0 auto;
    /* text-align: center; */
}

.bravo-logo-main {
    width: 145px;
    display: block;
    margin: 0 auto;
}

.nav-bar-icon {
    display: none;
}

.nav-bar {
    padding-top: 15px;
}

.nav-bar-list {
    padding: 0;
    list-style: none;
    text-align: center;
}

.nav-bar-list-item {
    display: inline-block;
    padding: 0 15px;
    font-weight: bold;
    text-transform: uppercase;
    /* font-size: 1em; */
    font-family: "Raleway", sans-serif;
}

.nav-bar-list a {
    text-decoration: none;
    color: rgb(77, 77, 77);
}
  
.nav-bar-list  a:visited {
    text-decoration: none!important;
    color: rgb(77, 77, 77);
}

.nav-bar-list  a:hover {
    text-decoration: none!important;
    color: rgb(22, 22, 22);
}