.contact-us-header {
    text-align: center;
    color: #121212;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 2em;
    letter-spacing: 15px;
    margin-top: 15px;
}

.contact-us-form-container {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.contact-us-form-container div {
    display: block!important;
    margin-bottom: 20px;
}

.contact-us-form-container input, .contact-us-form-container textarea {
    font-size: 1.4em;
    color: #121212;
    font-family: sans-serif;
    border: 2px solid #dfdfdf;
    padding: 20px;
    width: 500px!important;
    max-width: 95%!important;
    margin: 0 auto;
}

.contact-us-form-message {
    width: 500px;
    max-width: 95%;
}

.contact-us-send-container {
    text-align: center;
}

.contact-us-send {
    padding: 5px 10px;
    letter-spacing: 2px;
    border: 2px solid indianred;
    background: white;
    color: indianred;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

.contact-us-send:hover {
    color: white;
    background: indianred;
}    