@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');

input, textarea {
  border: none;  
  resize: none;
  padding: 0;
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

.section-bar {
  height: 1px;
  background: #5f9ea0;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fadein, .fadeout {
  opacity: 0;
  -moz-transition: opacity 0.44s ease-in-out;
  -o-transition: opacity 0.44s ease-in-out;
  -webkit-transition: opacity 0.44s ease-in-out;
  transition: opacity 0.44s ease-in-out;
}
.fadein {
  opacity: 1;
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}		
}
