@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


.resume-info {
  width: 21cm;
  min-height: 29.7cm;
  height: auto;
  border: 1px solid #ababab;
  margin: 0 auto;
}

input, textarea {
  border: none;  
  resize: none;
  
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

.section-bar {
  height: 1px;
  background: black;
  margin-top: 5px;
  margin-bottom: 10px;
}