.resume-info {
  width: 21cm;
  min-height: 29.7cm;
  height: auto;
  border: 1px solid #ababab;
  margin: 0 auto;
}

input, textarea {
  border: none;  
  resize: none;
  
}

input:focus, textarea:focus {
  outline: none;
}